@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body,
__next {
  height: '100vh';
  background: linear-gradient(270deg, rgba(32,32,32,1) 0%, rgba(23,23,23,1) 50%, rgba(23,23,23,1) 100%);
  color: greenyellow !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
